.navbar-container{
    margin: 0 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
}
.navbar-logo img{
    width: 100px;
    height: 100px;
}
.navbar-list{
    width: 40%;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
}
.navbar-list-link, .navbar-list-link-connection{
    text-decoration: none;
    transition: 0.2s;
}
.navbar-list-link:hover{
    border-bottom: 1px solid;
    transform: scale(1.1);
}
.navbar-list-link-connection{
    padding: 0 4%;
    border: 1px solid;
    border-radius: 25px;
}
.navbar-list-link-connection:hover{
    transform: scale(1.1);
}


.homebody-container{
    display: flex;
    align-items: center;
    margin: 0 2%;
    border: 1px solid;
}

.homebody-presentation{
    text-align: center;
    border: 1px solid;
    transition: 1.5s;
}
.homebody-presentation:hover{
    transform: scale(1.05);
}
.homebody-link{
    text-decoration: none;
    border: 1px solid;
    padding: 1% 8%;
    border-radius: 25px;
    font-size: 20px;
}


.homebody-image img{
    height: 600px;
    width: 600px;
    transition: 1.5s;
}
.homebody-image img:hover{
    transform: scale(1.05);
}

.footer-image{
    height: 100%;
    margin:0 2%;

}
.footer-image img{
    float: right;
    width: 48px;
    height: 48px;
    margin: 0 1%;
}
